<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public2/index.css">
</head>
<body>
    <div class="nav">
        <h2><a class="logo" href="/">AppleForum</a></h2>
        <a href="/list">list</a>
        <a href="/write">write</a>
    </div>
</body>
</html>